endpoint_uri_bikerental=https://REPLACE_WITH_BIKERENTAL_ENDPOINT
primary_key_bikerental=REPLACE_WITH_BIKERENTAL_PRIMARY_KEY

endpoint_uri_diabetes=https://REPLACE_WITH_DIABETES_ENDPOINT
primary_key_diabetes=REPLACE_WITH_DIABETES_PRIMARY_KEY

endpoint_uri_tempforecast=https://REPLACE_WITH_TEMPFORECAST_ENDPOINT
primary_key_tempforecast=REPLACE_WITH_TEMPFORECAST_PRIMARY_KEY

endpoint_uri_titanic=https://REPLACE_WITH_TITANIC_ENDPOINT
primary_key_titanic=REPLACE_WITH_TITANIC_PRIMARY_KEY
